.footer {
  background-color: #111111;
  padding: 20px;
  color: #ffffff;
  margin-top: 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-section:nth-child(1) {
  flex: 1;
  padding: 2%;
  border-right: 1px solid #ffffff;
  margin-left: 3%;
}
.footer-section:nth-child(2) {
  flex: 1;
  padding: 2%;
  margin-left: 5%;
}

.footer-links {
  display: flex;
  flex-direction: column; /* Arrange links in a column */
}

.link {
  color: #7e7e7e;
  text-decoration: none;
}
.link:hover {
  color: #eeeeee;
}

.link-lower {
  color: #7e7e7e;
  text-decoration: none;
}
.link-lower:hover {
  color: #eeeeee;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.footer-info p {
  margin-bottom: 10px;
}

.footer-sublinks {
  display: flex;
  justify-content: center;
}

.footer-sublinks a {
  margin: 0 10px;
}

@media only screen and (max-width: 632px) {
  .link-lower {
    font-size: 0.7rem;
  }
}
