.mobile-nav {
  display: none;
}

@media only screen and (max-width: 632px) {
  .header {
    height: 50px;
  }
  .mobile-nav {
    display: flex;
  }
  .hamburger-menu {
    position: relative;
  }
  .main-link {
    text-align: left;
    flex: 3;
  }

  .mobile-logo {
    height: 50px;
    width: 50px;
  }

  .mobile-nav-icon-container {
    flex: 1;
    text-align: center;
    margin: 10px 10px 0 0;
  }

  .search-icon {
    position: relative;
    top: 0%;
    left: 0px;
    transform: translateY(0%);
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    margin-right: 3%;
  }

  .nav-icon {
    margin-right: 3%;
  }

  .hamburger-icon {
    flex: 1;
    margin: 10px 10px 0 0;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    border-radius: 50%;
  }

  .mobile-dropdown {
    position: fixed;
    top: 0;
    right: -100%;
    width: 85%;
    height: 100%;
    background: white;
    transition: right 0.3s ease;
    overflow-y: auto;
  }

  .hamburger-menu.open .mobile-dropdown {
    right: 0;
  }

  .mobile-dropdown.open .close-icon {
    display: block;
  }

  .close-icon {
    display: none;
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .dropdowns {
    margin-top: 10%;
  }

  .mobile-link {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    background-color: none;
    border: none;

    text-align: left;
    padding: 5% 0 5% 15%;
    background-color: white;
  }

  .chevron-mobile {
    flex: 2;
    text-align: right;
    margin-right: 5%;
  }

}

@media only screen and (max-width: 450px) {
  .header {
    height: 50px;
  }
  .mobile-nav {
    display: flex;
  }
  .hamburger-menu {
    position: relative;
  }
  .main-link {
    text-align: left;
    flex: 1;
  }

  .mobile-logo {
    height: 50px;
    width: 50px;
  }

  .mobile-nav-icon-container {
    flex: 1;
    text-align: right;
    margin: 12px 10px 0 20px;
  }

  .search-icon {
    position: relative;
    top: 0%;
    left: 0px;
    transform: translateY(0%);
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    margin-right: 3%;
  }

  .nav-icon {
    margin-right: 3%;
  }

  .hamburger-icon {
    flex: 1;
    margin: 10px 10px 0 0;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    border-radius: 50%;
  }

  .mobile-dropdown {
    position: fixed;
    top: 0;
    right: -100%;
    width: 85%;
    height: 100%;
    background: white;
    transition: right 0.3s ease;
    overflow-y: auto;
  }

  .hamburger-menu.open .mobile-dropdown {
    right: 0;
  }

  .mobile-dropdown.open .close-icon {
    display: block;
  }

  .close-icon {
    display: none;
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .dropdowns {
    margin-top: 10%;
  }

  .mobile-link {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    background-color: none;
    border: none;

    text-align: left;
    padding: 5% 0 5% 15%;
    background-color: white;
  }

  .chevron-mobile {
    flex: 2;
    text-align: right;
    margin-right: 5%;
  }

}
